@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.text {
    text-align: center;
    font-size: 25px;
}

.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.produtos button {
    width: 55vw;
    height: 11vh;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    border: 1px solid rgb(21, 211, 21);
}

.produtos button:hover {
    background-color: white;
    color: rgb(21, 211, 21);


}

footer {
    background-color: green;
    height: 20vh;
    text-align: center;
    display: grid;
    justify-content: space-around;
    align-items: center;
}
.container-fluid{
    background-color: green;
}
@media (min-width: 390px) and (max-width: 428px){
    .produtos button {
    width: 45vw;
    }
}